
.allposts {
  background-color: rgb(200,200,200);
  display: flex;
  flex-direction: column;

}

.allposts > .post-item {
  margin-bottom: 20px;
  background-color: white;
  padding: 15px;
  margin: 20px 200px 20px 200px;
  
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.allposts > .post-item:hover {
  background-color: rgb(159, 159, 159);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transform: translateY(-2px); 
}

Button {
  font-size: 14px;
  font-weight: bold;
  margin: 0 8px;
  border-radius: 50px;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
