/* .comments-container {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    
}

.comment-user {
    font-size: 15px;
}

.inputComment {
    
}

.comment-container {
    display: flex;
    align-items: center;
  }
  
  .comment-content {
    flex-grow: 1;
    margin-left: 280px;
  }
  
  .comment-buttons {
    display: flex;
    margin-right: 480px;
    margin-left: -300px;
  } */
  