.createpost-container {
    text-align: left
}

h3 {
    margin-bottom: 10px;
}
body > .title{
    height: 40px;
    width: 734px;
    border-color: grey;
    padding-left: 16px;

}

body > .post {
    border-color: grey; 
    margin-top: 10px;
    height: 350px;
}

body > .button-post {
    color: black;
    align-items: right;
    text-align: right
}